.jumbotron {
  padding: 1em 1em;
}

#order-alert-success {
  display: none;
}

#order-alert-failure {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}
